.site-wrapper {
    background: url('../img/tree.jpg') center;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .site-wrapper {
        background-size: cover;
    }
}

.inner.cover {
    background: whitesmoke;
    padding: 50px;
    box-shadow: 0 0 10px black;
    color: black;
    text-shadow: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #fff;
    background-color: #333;
}