.site-wrapper {
    background: #8BC34A;
    box-shadow: none;
}

.site-wrapper {
    background-size: cover;
}

.masthead {
    background: #009688;
    box-shadow: 0 0 10px black;
    text-shadow: none;
    position: relative;
}

.cover-container {
    height: 75%;
}

@media (min-width: 768px) {
    .cover-container {
        height: 50%;
    }
    .masthead {
        position: fixed;
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 50%;
    }
}

.inner.cover {
    width: 100%;
    height: 100%;
    padding: 0;
    background: whitesmoke;
    box-shadow: 0 0 10px black;
    color: black;
    text-shadow: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #fff;
    background-color: #333;
}